{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>
    <form action="{% url 'create'%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="titel">Title</label>
            <input type="text" name="title" class="form-control" id="titel" placeholder="Add Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Add Description">
        </div>
        <div class="form-group">
            <label for="imgurl">Image URL</label>
            <input type="text" name="imgurl" class="form-control" id="imgurl" placeholder="Add Image URL">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="Add Price">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category">
                {% for item in allCategories  %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>

        </div>

        <button type="submit" class="btn btn-success">Create New Listing</button>
    </form>


{% endblock %}