{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
    {% if user.is_authenticated %}
        {% if checkinwatchlist %}
        <form action="{% url "removefromwatchlist" id=listingdata.id%}" method="POST" class="mx-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
        </form> 
        {% else %}
        <form action="{% url "addinwatchlist" id=listingdata.id%}" method="POST" class="mx-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add To Watchlist</button>
        </form>    

        {% endif %}
    {% endif %}
    </div>
    <h2>Pokemon: {{listingdata.title}}</h2>
    <img src="{{listingdata.imageUrl}}" alt="{{listingdata.title}}" height="400px">
    <p>{{listingdata.description}}</p>
    <p>Owner: {{listingdata.owner}}</p>
    <h4>$ {{listingdata.price}}</h4>
{% endblock %}